.footer {
  @include wh(100%, $THEME-base-footer);
  @include absolute(null, 0, 0, 0);
  text-align: center;
  z-index: 2;
}

.footer__inner {
  align-items: center;
  display: flex;
  font-size: em(12px);
  height: inherit;
  justify-content: center;
  position: relative;

  span {
    text: {
      align: center;
      transform: uppercase;
    }
    width: 100%;
  }
}
