.textarea-wrap {
  background: $THEME-input-bg;
  border: 1px solid $THEME-input-border;
  box-shadow: none;
  color: $THEME-input-tx;
  width: 100%;

  textarea {
    background: inherit;
    border: 0;
    box-sizing: padding-box;
    color: inherit;
    display: block;
    font-size: 11px;
    overflow: hidden;
    padding: 10px;
    resize: none;
    width: 100%;

    .is-title & {
      height: auto;
      min-height: auto;
    }

    &::placeholder {
      color: inherit;
      font-style: italic;
    }

    &:focus {
      box-shadow: none !important;
    }
  }
}
